html,
body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body {
  background-color: lightslategray;
  text-align: center;
  margin: 0;
}

main {
  background-color: cadetblue;
  width: 100%;
}

h1 {
  font-family: pegasus;
  margin: -10px;
}

.full-width {
  width: 100%;
}

/* Introduction/About container */

#intro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#intro-container .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 0 2%;
}
#intro-container .item p {
  text-align: justify;
}

/* Projects */

.item h3 {
  font-size: 35px;
}

.item h4 {
  margin-bottom: 0px;
}

/* Footer */

.block-item h3 {
  font-size: 65px;
  letter-spacing: 5px;
  color: bisque;
}

.block-item a {
  color: orange;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  text-align: center;
}

/* Images */

header img {
  width: auto;
}

img {
  max-width: 33%;
  width: 200px;
  margin: 10px;
}

.img-item {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.block-item {
  background-color: red;
  background-image: url("images/sm4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media all and (min-width: 600px) {
  .img {
    width: 30%;
  }
}
